.ranking-area, .meu-ranking-area {
    width: 310px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    border: 4px solid rgba(0, 74, 141);
    border-radius: 8px;
    background-color: rgba(0, 74, 141, 0.7);
    overflow-y: scroll;
}

.ranking-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bold;
    color: rgb(247, 189, 35);
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #000;
}

.ranking-header img {
    height: 100px;
    width: 100%;
}

.ranking-list, .meu-ranking-conquistas {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-top: 12px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #4C80AF;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 74, 141)
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(1, 115, 221)
}
